@import "reset.css";

body {
    font-family: verdana, sans-serif;
    color: black;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------- HEADER ------------------------------------------------ */
/* ------------------------------------------------------------------------------- */
header .wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-color: grey;
}

/* ---------------- Mise en forme du logo "Movie_3 Administration" ------------------ */
header h1 {
    display: inline-block;
    font-size: 1.5em;
    float: left;
    margin-bottom: 15px;
    padding-left: 10px;
}
header .logo {
    color: black; /* noir du logo */
    font-weight: bold;
    text-decoration: none;
}
header .logo:hover {
    color: white; /* blanc du logo:hover */
}

/* -------------Mise en forme du nav---------------- */
header nav li {
    display: inline-block;
    margin-bottom: 20px;
}
header nav a {
    color: white;
    padding: 5px 12px 5px 12px;
    border-radius: 5px 5px;
}
header nav a:hover {
    color: white;
    text-decoration: none;
    background-color: black; /* noir des liens a:hover */
}

/* ---------------------------------------------------------- */
/* ------------------ FOOTER -------------------------------- */
/* ---------------------------------------------------------- */

footer .pied-page {
    height: 50px;
    background-color: grey;
}
footer .pied-page p {
    text-align: center;
    padding-top: 15px;
    color: white;
}
